# **4.**

**Answer: (A) apple**

In [ ]:
fruits = ["apple", "banana", "cherry"]
x, y, z = fruits
print(x)

apple

# **5.**

**Answer: (E) students = { 'name' : 'alice' , 'score' : 60 }**

In [ ]:
students = { 'name' => 'alice' ;  'score' =>60 }

SyntaxError: ignored

In [ ]:
students = { 'name' = 'alice' ;  'score' =60 }

SyntaxError: ignored

In [ ]:
students = { 'name' : 'alice' ;  'score' : 60 }

SyntaxError: ignored

In [ ]:
students = { 'name' => 'alice' ,  'score' =>60 }

SyntaxError: ignored

In [ ]:
students = { 'name' : 'alice' , 'score' : 60 }

# **6.**

**Answer: (D) Python will give you an error**

In [ ]:
x = 5
y = "John"
print(x + y)

TypeError: ignored

# **7.**

**Answer: (A) 13//5  output: 2.6**

In [ ]:
13//5

2

In [ ]:
13/5

2.6

In [ ]:
13%5

3

In [12]:
y = int(2.8)
print(y)

2

# **8.**

**Answer: (D) Calculate the sum of 3+4+5+6+â€¦+10**

In [ ]:
s=0
for i in range (3 , 11):
      s+=i
print(s)
#Calculate the sum of 3+4+5+6+â€¦+10

52

# **9.**

**Answer: (B) llolo, W**

In [ ]:
a = "Hello, World!"
print(a[2:5]+ a[3:8])

llolo, W

# **10.**

**Answer: (A) (len (a))**

In [ ]:
a = "Hello, Pythonian!"
print (len (a))

17

# **11.**

**Answer: (D) [ 'b' ,  'c' ,  'd' ,  'e' ]**

In [ ]:
list = [ ' a ' ,  ' b ' ,  ' c ' ,  ' d ' ,  ' e ' ]
print (list [ 1 : ])

[' b ', ' c ', ' d ', ' e ']

# **12.**

**Answer: (C) 11**

In [ ]:
L1 = [ ]
L1.append ( [1, [2, 3], 4] )
L1.extend ( [7, 8, 9] )
print(L1[0][1][1] + L1[2] )

11

# **13.**

**Answer: (D) in**

In [ ]:
txt = "The best things in life are free!"
print("free" in txt)

True

# **14.**

**Answer: (D) first=[1, 2, 3, 4, 5, 6], second=[1, 2, 3, 4, 5, 6]**

In [13]:
first = [1 , 2 , 3 , 4 , 5]
second = first
second.append (6)
print(first)
print(second)

[1, 2, 3, 4, 5, 6]
[1, 2, 3, 4, 5, 6]

# **18.**

In [ ]:
mylist = ["apple", "banana", "cherry"]
mylist.insert(1, "orange")   
print(mylist)

['apple', 'orange', 'banana', 'cherry']

# **21.**

**Answer: (A) 1 2 3**

In [1]:
i = 1
while i < 6:
  print(i)
  if (i == 3):
    break
  i += 1

1
2
3

# **22.**

***Answer: (C) 1 2 3 4 5 6 ***

In [2]:
i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

# **24.**

**Answer: (E) 24**

In [4]:
r = lambda q: q * 2
s = lambda q: q * 3
x = 2
x = r (x)
x = s (x)
x = r (x)
print (x)

24

# **25.**

Answer: (D) 21

In [10]:
def tri_recursion(k):
  if(k > 0):
    result = k + tri_recursion(k - 1)
    print(result)
  else:
    result = 0
  return result

print("\n\nRecursion Example Results")
tri_recursion(6)

Recursion Example Results
1
3
6
10
15
21

21